[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color]
	ui = true
[color "diff"]
	whitespace = red reverse
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = less -r
	excludesfile = /Users/frojas/.gitignore
	editor = /usr/bin/vim
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	outgoingdev = log
	m = merge --no-ff
  l = "!source ~/.githelpers && pretty_git_log"
  la = !git l --all
  r = !git l -30
  ra = !git r --all
  flags        = "!FLAG_LOG='--graph --decorate --find-renames --date-order'; \
                   FLAG_DIFF='--patch --stat --ignore-blank-lines';"
  glog         = "!git flags; git log $FLAG_LOG --name-status"
  gslog        = "!git flags; git log $FLAG_LOG --stat"
  slog         = "!git flags; git log $FLAG_LOG --date=short --format='%C(auto)%h%C(auto)%d %C(bold blue)%ad %an%n        %s%C(reset)'"
  df           = "!git flags; git diff $FLAG_DIFF"
  dfc          = "!git flags; git diff $FLAG_DIFF --cached"

	head = !git r -1
	h = !git head
	hp = "!. ~/.githelpers && show_git_head"
[http]
	sslVerify = false
[mergetool "mergefile"]
	cmd = mergefile --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = false
[user]
	name = Francisco Rojas
  email = frojas@groupon.com
  #email = frojas@alumnos.utalca.cl
[push]
	default = tracking
[github]
	user = frojasg
